.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App-content {
  width: calc(90vw);
  height: calc(90vh);
  background-color: rgba(0, 255, 255, 0.3);
  padding: 24px;
  min-width: 1024px;
}
