.ItemForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
}

.ItemForm-title,
.ItemForm-field,
.ItemForm-button {
  margin-left: 20px;
}
