.ItemsTable-row {
  display: flex;
}

.ItemsTable-cell {
  display: flex;
  align-items: center;
  flex: 1;
}

.ItemsTable-cell:not(:first-child):not(:last-child) {
  display: flex;
  justify-content: center;
  flex: 1;
}

.ItemsTable-cell:last-child {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
